{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--Styles-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <main>
        <center>
            <h1>{{nome}}</h1>
            <h2>{{curso}}</h2>
            <h5>{{fone}}</h5>

            <table>
                <h2 class="titulo">Tabela dos produtos</h2>
                <thead>
                    <th>Produto</th>
                    <th>Preço</th>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td><a href="{% url 'produto' produto.id %}">{{produto.nome}}</a></td>
                        <td>R$ {{produto.preco}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
    </main>

</body>

</html>